@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.eot');
  src: url('Vazirmatn-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.woff2') format('woff2'),
    url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.woff') format('woff'),
    url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Vazirmatn, sans-serif;
}

.driverRegistration .btn,
.panel .btn {
  max-width: 232px;
}

.orange-btn {
  background: linear-gradient(to right, #ff7633, #e84a18);
  max-width: 130px;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.SupperApp {
  background: linear-gradient(to right, #fff, #f6f8f8);
}

.SupperApp img {
  box-shadow: 0px 0px 10px rgb(218, 218, 218);
}