/* @font-face {
  font-family: 'DM Sans 9pt';
  src: url('../fonts/DM-Sans-regular/DMSans9pt-Regular.eot');
  src: url('DMSans9pt-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DM-Sans-regular/DMSans9pt-Regular.woff2') format('woff2'),
    url('../fonts/DM-Sans-regular/DMSans9pt-Regular.woff') format('woff'),
    url('../fonts/DM-Sans-regular/DMSans9pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'VazirmatnM';
  src: url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.eot');
  src: url('Vazirmatn-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.woff2') format('woff2'),
    url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.woff') format('woff'),
    url('../fonts/Vazirmatn-Medium/Vazirmatn-Medium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VazirmatnB';
  src: url('../fonts/Vazirmatn-Bold/Vazirmatn-Bold.eot');
  src: url('Vazirmatn-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazirmatn-Bold/Vazirmatn-Bold.woff2') format('woff2'),
    url('../fonts/Vazirmatn-Bold/Vazirmatn-Bold.woff') format('woff'),
    url('../fonts/Vazirmatn-Bold/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VazirmatnR';
  src: url('../fonts/Vazirmatn-Regular/Vazirmatn-Regular.eot');
  src: url('../fonts/Vazirmatn-Regular/Vazirmatn-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazirmatn-Regular/Vazirmatn-Regular.woff2') format('woff2'),
    url('../fonts/Vazirmatn-Regular/Vazirmatn-Regular.woff') format('woff'),
    url('../fonts/Vazirmatn-Regular/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'VazirmatnS';
  src: url('Vazirmatn-SemiBold.eot');
  src: url('Vazirmatn-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Vazirmatn-SemiBold.woff2') format('woff2'),
    url('Vazirmatn-SemiBold.woff') format('woff'),
    url('Vazirmatn-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */

body {
  font-family: 'VazirmatnB';
}

.navbar,
.services {
  font-family: 'VazirmatnM';
}

.driverRegistration .btn,
.panel .btn {
  max-width: 232px;
}

.orange-btn {
  background: linear-gradient(to right, #ff7633, #e93407);
  max-width: 150px;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.SupperApp {
  background: linear-gradient(to right, #fff, #f6f8f8);
}

.SupperApp img {
  box-shadow: 0px 0px 10px rgb(218, 218, 218);
}

.carousel-item {
  transition: none !important;
}

.img1 {
  max-width: 50%;
  min-width: 35%;
  height: auto;
}

.img2 {
  max-width: 70%;
  height: auto;
}

.blog img {
  max-width: 25%;
  height: auto;
}

.installApp {
  background: linear-gradient(to left, #f4f1f0, #fef0e9);
  margin: 50px 150px;
}

.installApp img {
  max-width: 50%;
}

/* mquery for the install to remove the margin when it is small and add it when it is md to higher */